body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'nanum-middle';
  src: url('./fonts/nanum-middle.ttf');
}

@font-face {
  font-family: 'Noto Sans Serif KR';
  font-style: normal;
  src: url('./fonts/NotoSerifKR-SemiBold.otf');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  src: url('./fonts/AppleSDGothicNeoM.ttf');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  src: url('./fonts/Lexend-VariableFont_wght.ttf');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('./fonts/AppleSDGothicNeoM.ttf');
}



